<header> 
	<div id="topbar">
	 	<div class="logo">
			Awesome Blog.
		</div>
		<nav>
			<div>
				<button class="button2" routerLink="/blog" >Home</button>
			  </div>
		</nav>
	</div>
</header>
<form #changePasswordForm="ngForm"  >
<div class="box">
	<div >
		<div >
			<label>Old-password</label><br>
<br>			<input type="text" name="oldPassword" #oldPassword="ngModel" class="form-control" placeholder="Old-Password" required ngModel>
<br>
		</div>
		<div >
			<br>
			<label>New Password</label><br>
			<br>
			<input type="text" name="newPassword" #newPassword="ngModel" class="form-control" placeholder="New-Password" required ngModel>
		</div><br>
		<button class="span4 text-center"class="button2"routerLink="/blog"(click)="changePassword(changePasswordForm)">Reset Password</button>
	</div>
	<div class="sidebar">

	</div>
</div>
</form>
