<div class="container">
  <h2>Forgot Password</h2>

  <form #forgotPassword="ngForm"  >
    <div class="form-group">
      <label>Email</label>
      <input type="text" name="email" #email="ngModel" class="form-control" placeholder="Email" required ngModel>
      <div *ngIf="email.errors && (email.dirty || email.touched)">
        <div [hidden]="!email.errors.required" style="color:red;text-align:center;">
          Please enter the Email .
        </div>
        </div>
    </div>
    <button class="span4 text-center"class="registerbtn"routerLink="/logIn"(click)="forgot(forgotPassword)">Submit</button>
</form>     
</div>

      