<div class="container">
    <h2>Sign Up</h2>
  
    <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" #username="ngModel" class="form-control" placeholder="User-Name" required ngModel>
        <div *ngIf="username.errors && (username.dirty || username.touched)">
          <div [hidden]="!username.errors.required" style="color:red;text-align:center;">
            Please enter the username Name.
          </div>
          </div>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" #name="ngModel"  class="form-control"placeholder="Name"required ngModel>
        <div *ngIf="name.errors && (name.dirty || name.touched)">
          <div [hidden]="!name.errors.required" style="color:red;text-align:center;">
            Please enter the  Name.
          </div>
          </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password"name="password" #password="ngModel"  class="form-control"placeholder="Password"required ngModel>
        <div *ngIf="password.errors && (password.dirty || password.touched)">
          <div [hidden]="!name.errors.required" style="color:red;text-align:center;">
            Please enter the  Password.
          </div>
          </div>
      </div>
      <div class="form-group">
        <label>Confirm-Password</label>
        <input type="password"  class="form-control"placeholder="Confirm-Password">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" #email="ngModel"  class="form-control"placeholder="Email"required ngModel>
        <div *ngIf="email.errors && (email.dirty || email.touched)">
          <div [hidden]="!email.errors.required" style="color:red;text-align:center;">
            Please enter the  Email.
          </div>
          </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" name="address" #address="ngModel"  class="form-control"placeholder="Address"required ngModel>
        <div *ngIf="address.errors && (address.dirty || address.touched)">
          <div [hidden]="!address.errors.required" style="color:red;text-align:center;">
            Please enter the  Address.
          </div>
          </div>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text"  name="phone" #phone="ngModel" class="form-control"placeholder="Phone"required ngModel>
        <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
          <div [hidden]="!phone.errors.required" style="color:red;text-align:center;">
            Please enter the  Phone.
          </div>
          </div>
      </div>
      <div class="form-group">
        <label>Zip</label>
        <input type="text" name="zip" #zip="ngModel"  class="form-control"placeholder="Zip"required ngModel>
        <div *ngIf="zip.errors && (zip.dirty || zip.touched)">
          <div [hidden]="!zip.errors.required" style="color:red;text-align:center;">
            Please enter the  Zip Code.
          </div>
          </div>
      </div>
      <button class="span4 text-center"class="registerbtn"type="submit">Register</button>
</form>     
  </div>

        