<div class="container">
    <h2>Set New Password</h2>
  
    <form #newPassword="ngForm"  >
      <div class="form-group">
        <label>New Password</label>
        <input type="text" name="newPassword" #newPassword="ngModel" class="form-control" placeholder="New-Password" required ngModel>
        <div *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
          <div [hidden]="!newPassword.errors.required" style="color:red;text-align:center;">
            Please enter New Password.
          </div>
          </div>
      </div>
      <button class="span4 text-center"class="registerbtn"routerLink="/logIn"(click)="newPassword(newPassword)">Submit</button>
  </form>     
  </div>
  
        