<header> 
	<div id="topbar">
	 	<div class="logo">
			Awesome Blog.
		</div>
		<nav>
			
		</nav>
	</div>
</header>
<form #blogform="ngForm"  >
<div class="box">
	<div class="blog-post">
		<div class="blog-heading">
			<label>Title</label>
			<input type="text" name="title" #title="ngModel" class="form-control" placeholder="Blog-title" required ngModel>
		</div>
		<div class="blog-heading">
			<label>Body</label>
			<input type="text" name="body" #body="ngModel" class="form-control" placeholder="Blog-Body" required ngModel>
		</div>
		<button class="span4 text-center"class="registerbtn"routerLink="/blog">POST BLOG</button>
		<app-blog-list></app-blog-list>
	</div>
	<div class="sidebar">

	</div>
</div>
</form>
<footer>	
	<div id="footer">
		
	</div>
</footer>