<header> 
	<div id="topbar">
	 	<div class="logo">
			Awesome Blog.
		</div>
		<nav>
			<div>
				<button class="button2" (click)="logout()" >Logout</button>
				<button class="button2" routerLink="/change-password" >Change Password</button>
			  </div>
		</nav>
	</div>
</header>
<form #blogform="ngForm"  >
<div class="box">
	<div class="blog-post">
		<div class="blog-heading">
			<label>Title</label>
<br>			<input type="text" name="title" #title="ngModel" class="form-control" placeholder="Blog-title" required ngModel>
		</div>
		<div class="blog-heading">
			<label>Content</label>
			<br>
			<input type="text" name="content" #content="ngModel" class="form-control" placeholder="Blog-Body" required ngModel>
		</div>
		<button class="span4 text-center"class="button2"routerLink="/blog"(click)="postBlog(blogform)">POST BLOG</button>
		<app-blog-list></app-blog-list>
	</div>
	<div class="sidebar">

	</div>
</div>
</form>
